<div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="dialog" title="New file">
        <label for="name">Filename:</label>
        <input type="text" name="name" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="file_name_input" value="" required="true" />

        <label for="template">Type:</label>
        <select name="template" data-dojo-type="dijit/form/Select" data-dojo-attach-point="file_type_select">
        </select>

        <div class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="new_button">New</button>
            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancel_button">Cancel</button>
        </div>
    </div>
</div>
