<div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="dialog" title="Open a project">
        <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="project_select">
        </select>
        
        <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="open_button">Open</button>
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="cancel_button">Cancel</button>
        </div>
    </div>
</div>
