<div data-dojo-type="dijit/Dialog" id="ui_dialogs_new_file" title="New file">
    <label for="name">Filename:</label>
    <input type="text" name="name" data-dojo-type="dijit/form/TextBox" id="ui_dialogs_new_file_name" value="" required="true" />

    <label for="template">Type:</label>
    <select name="template" data-dojo-type="dijit/form/Select" id="ui_dialogs_new_file_selection">
    </select>

    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" type="button" id="ui_dialogs_new_file_new">New</button>
        <button data-dojo-type="dijit/form/Button" type="button" id="ui_dialogs_new_file_cancel">Cancel</button>
    </div>
</div>
