<div data-dojo-type="dijit/Dialog" id="ui_dialogs_new_project" title="New project">
    <label for="name">Project Name:</label>
    <input type="text" name="name" data-dojo-type="dijit/form/TextBox" id="ui_dialogs_new_project_name" value="" required="true" />

    <label for="template">Template:</label>
    <select name="template" data-dojo-type="dijit/form/Select" id="ui_dialogs_new_project_selection">
    </select>

    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" type="button" id="ui_dialogs_new_project_open">New</button>
        <button data-dojo-type="dijit/form/Button" type="button" id="ui_dialogs_new_project_cancel">Cancel</button>
    </div>
</div>
