<div>
    <div data-dojo-attach-point="menu_bar" functionality-groups="user" data-dojo-type="dijit/MenuBar">
        <div data-dojo-attach-point="project_menu" functionality-groups="user" data-dojo-type="dijit/PopupMenuBarItem">
            <span>Project</span>
            <div data-dojo-attach-point="project_menu_drop_down" data-dojo-type="dijit/DropDownMenu">
                <div topic="ui/menus/project/new" data-dojo-attach-point="project_menu_new" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_new_project'">New Project</div>
                <div topic="ui/menus/project/open" data-dojo-attach-point="project_menu_open" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_open_project'">Open Project</div>
                <div topic="ui/menus/project/delete" data-dojo-attach-point="project_menu_delete" functionality-groups="project" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_delete_project'">Delete Project</div>
                <div topic="ui/menus/project/save" data-dojo-attach-point="project_menu_save" functionality-groups="project" functionality-groups="file" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_save_source'">Save All Files</div>
                <div topic="ui/menus/project/close" data-dojo-attach-point="project_menu_close" functionality-groups="project" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_close_project'">Close Project</div>
            </div>
        </div>
        <div data-dojo-attach-point="file_menu" functionality-groups="user, project" data-dojo-type="dijit/PopupMenuBarItem">
            <span>File</span>
            <div data-dojo-attach-point="file_menu_drop_down" data-dojo-type="dijit/DropDownMenu">
                <div topic="ui/menus/file/new" data-dojo-attach-point="file_menu_new" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_new_source'">New File</div>
                <div topic="ui/menus/file/revert" data-dojo-attach-point="file_menu_revert" data-dojo-type="dijit/MenuItem" functionality-groups="file" data-dojo-props="iconClass:'rayage_icon rayage_icon_revert_file'">Revert File</div>
                <div topic="ui/menus/file/save" data-dojo-attach-point="file_menu_save" data-dojo-type="dijit/MenuItem" functionality-groups="file" data-dojo-props="iconClass:'rayage_icon rayage_icon_save_source'">Save File</div>
                <div topic="ui/menus/file/delete" data-dojo-attach-point="file_menu_delete" data-dojo-type="dijit/MenuItem" functionality-groups="file" data-dojo-props="iconClass:'rayage_icon rayage_icon_delete_source'">Delete File</div>
            </div>
        </div>
        <div data-dojo-attach-point="edit_menu" functionality-groups="user, project, file" data-dojo-type="dijit/PopupMenuBarItem">
            <span>Edit</span>
            <div data-dojo-attach-point="edit_menu_drop_down" data-dojo-type="dijit/DropDownMenu">
                <div topic="ui/menus/edit/undo" data-dojo-attach-point="edit_menu_undo" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_undo'">Undo</div>
                <div topic="ui/menus/edit/redo" data-dojo-attach-point="edit_menu_redo" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_redo'">Redo</div>
                <div data-dojo-type="dijit/MenuSeparator"></div>
                <div topic="ui/menus/edit/cut" data-dojo-attach-point="edit_menu_cut" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_cut'">Cut</div>
                <div topic="ui/menus/edit/copy" data-dojo-attach-point="edit_menu_copy" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_copy'">Copy</div>
                <div topic="ui/menus/edit/paste" data-dojo-attach-point="edit_menu_paste" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_paste'">Paste</div>
                <div data-dojo-type="dijit/MenuSeparator"></div>
                <div topic="ui/menus/edit/select_all" data-dojo-attach-point="edit_menu_select_all" data-dojo-type="dijit/MenuItem" data-dojo-props="iconClass:'rayage_icon rayage_icon_edit_select_all'">Select All</div>
            </div>
        </div>
        <div topic="ui/menus/build" data-dojo-attach-point="build_menu" functionality-groups="user, project, file" data-dojo-type="dijit/MenuBarItem">
            <span>Build</span>
        </div>
        <div data-dojo-attach-point="run_menu" functionality-groups="user, project, file" data-dojo-type="dijit/PopupMenuBarItem">
            <span>Run</span>
            <div data-dojo-type="dijit/TooltipDialog">
                <label>Arguments: </label><input data-dojo-attach-point="run_arguments_input" data-dojo-type="dijit/form/TextBox" style="width: 200px;" />
                <button topic="ui/menus/run" data-dojo-attach-point="run_button" data-dojo-type="dijit/form/Button" type="submit" data-dojo-props="iconClass:'rayage_icon rayage_icon_run'">Run</button>
            </div>
        </div>
        <div topic="ui/menus/logout" data-dojo-attach-point="logout_menu" functionality-groups="user" data-dojo-type="dijit/MenuBarItem">
            <span>Logout</span>
        </div>
    </div>
</div>
