<div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="dialog" title="Disconnected">
        <center>
            <img src="/static/images/oxygen/socket-disconnected-large.png">
            <br>
            The connection to the server has been lost.
            
            <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="reconnect_button">Reconnect</button>
            </div>
        </center>
    </div>
</div>
