<div class="test_manager" data-dojo-type="dijit/layout/ContentPane">
    <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%" data-dojo-attach-point="border_container">
        <div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading'" style="width: 425px;">
            <div data-dojo-attach-point="testGrid" id="testGrid" dojoType="dojox/grid/EnhancedGrid" style="width: 425px;" title="Browse"
                data-dojo-props="   plugins:{
                                                filter: {
                                                            closeFilterbarButton: false, 
                                                            itemsName: 'templates', 
                                                            isServerSide: true, 
                                                            setupFilterQuery: function(commands, request) {
                                                                request.query = commands.filter;
                                                            }
                                                        }
                                }">
            </div>
            <div data-dojo-type="dijit/layout/ContentPane" title="Upload">
                <div data-dojo-attach-point="uploader"></div>
                <div data-dojo-attach-point="filelist"></div>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true">
            <h1 data-dojo-attach-point="test_info_name"></h1>
        </div>
    </div>
    
</div>
