<div class="user_manager" data-dojo-type="dijit/layout/ContentPane">
    <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%" data-dojo-attach-point="border_container">
        <div data-dojo-attach-point="userGrid" id="userGrid" dojoType="dojox/grid/EnhancedGrid" style="width: 425px;" 
            data-dojo-props="   region:'leading', 
                                splitter:true, 
                                plugins:{
                                            filter: {
                                                        closeFilterbarButton: false, 
                                                        itemsName: 'users', 
                                                        isServerSide: true, 
                                                        setupFilterQuery: function(commands, request) {
                                                            request.query = commands.filter;
                                                        }
                                                    }
                            }">
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true">
            <h1 data-dojo-attach-point="user_info_username"></h1>
            
            <label for="permissions">Permissions:</label>
            <select data-dojo-attach-point="user_info_permissions" name="permissions" data-dojo-type="dojox/form/DropDownSelect">
                <option value="0" selected="selected">None</option>
                <option value="1">User</option>
                <option value="2">TA</option>
                <option value="3">Professor</option>
                <option value="4">Admin</option>
            </select>
            <button dojoType="dijit.form.Button" type="button" data-dojo-attach-event="onClick: click_change_permissions">Assign</button>
            
            <h4 data-dojo-attach-point="user_info_user_since">User since: 11/03/2012</h4>
            <h4 data-dojo-attach-point="user_info_total_editing_time">Time editing: 20 minutes</h4>
            <h4 data-dojo-attach-point="user_info_last_online">Last online: 12:10 PST 11/03/2012</h4>
        </div>
    </div>
</div>
