<div class="user_manager" data-dojo-type="dijit/layout/ContentPane">
    <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%" data-dojo-attach-point="border_container">
        <div data-dojo-type="dijit/layout/ContentPane" style="width: 425px;" data-dojo-props="region:'leading', splitter:true">
            <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%" data-dojo-attach-point="left_border_container">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" class="blue">
                    <span data-dojo-attach-point="filterQuery" data-dojo-type="dijit/form/TextBox" data-dojo-props="placeHolder: 'filter by name', intermediateChanges: true"></span>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
                    <div data-dojo-attach-point="userGrid" id="userGrid" ></div>
                </div>
            </div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true">
            <h1 data-dojo-attach-point="user_info_username"></h1>
            
            <label for="permissions">Permissions:</label>
            <select data-dojo-attach-point="user_info_permissions" name="permissions" data-dojo-type="dojox/form/DropDownSelect">
                <option value="0" selected="selected">None</option>
                <option value="1">User</option>
                <option value="2">TA</option>
                <option value="3">Professor</option>
                <option value="4">Admin</option>
            </select>
            <button dojoType="dijit.form.Button" type="button" data-dojo-attach-event="onClick: click_change_permissions">Assign</button>
            
            <h4 data-dojo-attach-point="user_info_user_since"></h4>
            <h4 data-dojo-attach-point="user_info_total_editing_time"></h4>
            <h4 data-dojo-attach-point="user_info_last_online"></h4>
        </div>
    </div>
</div>
