@import "/static/lib/dgrid/css/dgrid.css";
@import "/static/lib/dgrid/css/skins/claro.css";

.assignment_manager {
    width: 100%;
    height: 100%;
}

.dgrid-grid {
    height: 100%;
}

.dgrid .dgrid-scroller {
    position: relative;
    overflow: auto;
    height: 100%;
}
