.terminal .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 0px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
    display: inline;
}
.terminal .terminal-output div {
    display: inline;
}
.terminal {
    font-family: FreeMono, monospace;
    color: #aaa;
    background-color: #000;
    font-size: 12px;
    line-height: 14px;
}
.terminal .terminal-output div span {
    display: inline;
}
.terminal .cmd span {
    display: inline;
}
.terminal .cmd span.inverted {
    background-color: #aaa;
    color: #000;
}
.terminal .cmd span.boxed {
    background-color: #000;
    color: #000;
    border-style:solid;
    border-width: 1px;
    border-color: #aaa;
}
.terminal div::-moz-selection, .terminal span::-moz-selection {
    background-color: #aaa;
    color: #000;
}
.terminal div::selection, .terminal span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}
