.rayage_icon_admin_modules {
    background: url(/static/images/oxygen/admin-modules.png);
}

.rayage_icon_admin_view_statistics {
    background: url(/static/images/oxygen/admin-view-statistics.png);
}

.rayage_icon_admin_users {
    background: url(/static/images/oxygen/users.png);
}

.rayage_icon_admin_templates {
    background: url(/static/images/oxygen/admin-templates.png);
}
