.rayage_icon {
  background-repeat: no-repeat;
  background-size: 18px 18px !important;
  width: 18px;
  height: 18px;
  text-align: center;
}

.rayage_icon_clear {
    background: url(/images/oxygen/clear.png);
}

.rayage_icon_search {
    background: url(/images/oxygen/search.png);
}

.rayage_icon_console {
    background: url(/images/oxygen/console.png);
}

.rayage_icon_build {
    background: url(/images/oxygen/build.png);
}

.rayage_icon_help {
    background: url(/images/oxygen/help.png);
}

.rayage_icon_authenticate {
    background: url(/images/oxygen/authenticate.png);
}

.rayage_icon_open_project {
    background: url(/images/oxygen/open-project.png);
}

.rayage_icon_new_project {
    background: url(/images/oxygen/new-project.png);
}

.rayage_icon_new_source {
    background: url(/images/oxygen/new-src.png);
}

.rayage_icon_delete_project {
    background: url(/images/oxygen/delete-project.png);
}

.rayage_icon_delete_source {
    background: url(/images/oxygen/delete-src.png);
}

.rayage_icon_edit_copy {
    background: url(/images/oxygen/edit-copy.png);
}

.rayage_icon_edit_cut {
    background: url(/images/oxygen/edit-cut.png);
}

.rayage_icon_edit_paste {
    background: url(/images/oxygen/edit-paste.png);
}

.rayage_icon_edit_select_all {
    background: url(/images/oxygen/edit-select-all.png);
}

.rayage_icon_src_c {
    background: url(/images/oxygen/text-x-csrc.png);
}

.rayage_icon_src_cpp {
    background: url(/images/oxygen/text-x-cppsrc.png);
}

.rayage_icon_src_txt {
    background: url(/images/oxygen/text-x-generic.png);
}

.rayage_icon_notify_info {
    background: url(/images/oxygen/notify-info.png);
}

.rayage_icon_notify_success {
    background: url(/images/oxygen/notify-success.png);
}

.rayage_icon_notify_warning {
    background: url(/images/oxygen/notify-warning.png);
}

.rayage_icon_notify_error {
    background: url(/images/oxygen/notify-error.png);
}

.rayage_icon_socket_connected {
    background: url(/images/oxygen/socket-connected.png);
}

.rayage_icon_socket_disconnected {
    background: url(/images/oxygen/socket-disconnected.png);
}
