html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.CodeMirror {
    font-family: monospace;
    height: 100%;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}

#ui_output_tab_run {
    background-color: #000;
}

#ui_bottom_pane {
    height: 30%;
}

.error-bg {
    background-color: #fce5ef !important;
}
.error-text {
    font-weight: bold !important;
}

#preloader {
  width:100%; height:100%; margin:0; padding:0;
  background:#fff
    url('//ajax.googleapis.com/ajax/libs/dojo/1.5/dojox/image/resources/images/loading.gif')
    no-repeat center center;
    position:absolute;
    z-index:999;
}

#no-connection {
    
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.centered {
    position:absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 64px;
    width: 256px;
    z-index: 998;
}
