html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}

#ui_output_tab_run {
    background-color: #000;
}

#ui_bottom_pane {
    height: 30%;
}

.error-bg {
    background-color: #fce5ef !important;
}
.error-text {
    font-weight: bold !important;
}
